@import "tailwindcss";



html,
body {
  font-family: "Inter", sans-serif;
}

.heading {
  font-family: "Sora", sans-serif;
}

.sub-heading {
  font-family: "JetBrains Mono", monospace;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}